{% extends "base.html" %}

{% block content %}
<div>
    <div>
        <div class="text-center">
            <h1 class="display-3 m-5">💻 Welcome!</h1>
        </div>
        <div class="text-center p-5" style="background-color: white; margin-top: 100px;">
            <p class="mt-2" style="font-size: 2em;"> 💡 Find your new favorite book among several provided categories. 💡</p>
            <hr style="margin: 60px 0;">

            <div class="mt-5 p-4 d-flex justify-content-center">
                <div class="col-6" style="border-right: 1px solid grey;">
                    <ul style="list-style: none;">
                        <li style="font-size: 1.5em;" class="mt-4"></li>
                        <li style="font-size: 1.5em;" class="mt-4">★ Horror</li>
                        <li style="font-size: 1.5em;" class="mt-4">★ Thriller</li>
                        <li style="font-size: 1.5em;" class="mt-4">★ Science Fisction</li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul style="list-style: none;">
                        <li style="font-size: 1.5em;" class="mt-4">★ Fiction</li>
                        <li style="font-size: 1.5em;" class="mt-4">★ Romance</li>
                        <li style="font-size: 1.5em;" class="mt-4">★ Fantasy</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}