{% extends "base.html" %}

{% block content %}
<div>
    <div>
        <div class="text-center">
            <h1 class="display-3 m-5">💻 Bienvenue <br> sur notre site multi-fonctions</h1>
        </div>
        <div class="text-center p-5" style="background-color: white; margin-top: 100px;">
            <p class="mt-2" style="font-size: 2.5em;">Ce que l'on vous propose 💡</p>
            <hr style="margin: 60px 0;">

            <div class="mt-5 p-4 d-flex justify-content-center">
                <div class="col-6" style="border-right: 1px solid black;">
                    <ul style="list-style: none;">
                        <li style="font-size: 1.5em;" class="mt-4">★ Trouver une idée de livres parmis <br> plusieurs
                            catégories données</li>
                        <li style="font-size: 1.5em;" class="mt-4">★ Rechercher des informations sur un pays donné</li>
                        <li style="font-size: 1.5em;" class="mt-4">★ Rechercher et afficher un GIF</li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul style="list-style: none;">
                        <li style="font-size: 1.5em;" class="mt-4">★ Connaître l'heure du lever et du coucher <br> du
                            soleil dans la ville selectionnée</li>
                        <li style="font-size: 1.5em;" class="mt-4">★ Connaître le DPE des bâtiments dans toute la France
                        </li>
                        <li style="font-size: 1.5em;" class="mt-4">★ Avoir des infos sur les personnages de Star Wars
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}